
<form id="formCadastro" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="Cpf">Cpf:</label>
                <input type="text" class="form-control" id="Cpf" name="Cpf" maxlength="11" placeholder="Ex.: 11111111111">
            </div>
        </div>
        <div class="col-md-3">
            <label ></label>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-success">Incluir</button>
            </div>
        </div>

    </div>


</form>
